

/* Main container */
.weatherApp-container {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #86e0c2;
    border-radius: 10px;
    width: 100%;
    max-width: 750px;
    margin:1rem 0;
    text-align: center;
    box-shadow: 3px 3px 5px 2px #888888;
   
}

@media (max-width:800px) {
    .weatherApp-container {
        max-width: 95%;
    }
}

.weather-container {

}



/* Data container */
.data-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    margin: 4rem auto;
}

.clouds-container {
    display: flex;
    flex-direction: column;
}

/* Location */
.location-container {
    margin: 2rem auto;
}


/* details */

.details-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    color: #fff;
    margin: 3rem auto 1rem;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.stats {
    display: flex;
    align-items: center;
   
}