.container-agenda {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #ebf3a7;
    border-radius: 10px;
    width: 100%;
    max-width: 750px;
    height:60vh;
    margin:auto 0;
    
}


.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
 
}

form {
width:90%;
}


fieldset {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    border-radius: 5px;
    font-size: 1rem;
}

legend {
    display: flex;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.inputData-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.newUser-container {
    display:flex;
    margin: 1.5rem 0;
}

.userData-container {
    display: flex;
    flex-direction: column;
    margin:0 1rem;
}

label, input {
    margin: 0.3rem 0;
   
}

input {
    padding:0 0.2rem;
    width:10rem;
}

.btnContact {
    align-self:center;
    border: none;
    border-radius: 20px;
    background-color: #ebf3a7;
    font-size: 1rem;
    font-weight:bold;
    margin: 1rem;
}


.contact-container {
    width: 100%;
    overflow: auto;
    max-height: 200px;
}


.new-contact {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    width: 80%;
    margin: 0 auto 1.5rem auto;
}

.newContact-subContainer {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    flex: 1;
}

.contact-icons {
    width:25px;
    margin: 0.5rem;
}



.data-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.saveLink {
    font-style: italic;
    margin-bottom: 1rem;
}